[l2gw]
#List of switch device,interfaces name and segmentation_ids for l2gateway
l2gw_switch = cell08-5930-01::FortyGigE1/0/1|100
l2gw_switch_2 = cell21-5930-01::FortyGigE1/0/1|101
#l2gw_switch = cell08-5930-01::FortyGigE1/0/1|100#200;FortyGigE1/0/2|300
#l2gw_switch = cell08-5930-01::FortyGigE1/0/1|100#200,cell08-5930-02::FortyGigE1/0/2|300
l2gw_switch_ip = switch_vtep_ip
hosts = cn_host_name:cn_ip, nn_host_name:nn_ip
ovsdb_ip = ovsdb_ip
ovsdb_port = 6632
ovsdb_schema_name = hardware_vtep

