include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview

include networking_l2gw/db/migration/alembic_migrations/README
include networking_l2gw/db/migration/alembic_migrations/script.py.mako
recursive-include networking_l2gw/db/migration/alembic_migrations/versions *

global-exclude *.pyc
